@mixin PagePreset($rounded: round, $padding: 0) {
	flex: 1;
	align-self: stretch;
	min-width: 100%;
	overflow: auto;

	margin: 14px 0 0;
	background: white;

	@if $padding != 0 {
		padding: $padding;
	} @else {
		padding: 20px 0;
	}

	@if $rounded == round {
		border-radius: 12px 12px 0 0;
	}
}

@mixin PageAddition {
	align-self: flex-start;
	min-width: 100%;
	padding: 0 20px;
	overflow: auto;
}

@mixin RemoveScrollbar {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin Flex($direction: row, $justify: default, $align: default, $gap: 0) {
	display: flex;

	@if $direction == column {
		flex-direction: column;
	}

	@if $justify != default {
		justify-content: $justify;
	}

	@if $align != default {
		align-items: $align;
	}

	@if $gap != 0 {
		gap: $gap;
	}
}

@mixin MinMaxWidth($min: auto, $max: auto) {
	min-width: $min;
	max-width: $max;
}

@mixin MinMaxHeight($min: auto, $max: auto) {
	min-height: $min;
	max-height: $max;
}

@mixin SetSize($set: auto) {
	width: clamp($set, $set, $set);
	height: clamp($set, $set, $set);
}

@mixin EllipsisOneLine {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin EllipsisMultiLine($line: 1) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;

	max-height: calc(1.25em * $line);
}
