@use '../../styles/include.scss' as *;

.search {
	@include PagePreset($padding: 20px);
	@include RemoveScrollbar;
	@include Flex($direction: column, $gap: 20px);

	&__filter {
		@include PageAddition;
		@include Flex($gap: 10px);
		@include RemoveScrollbar;

		&__item {
			order: 3;
			padding: 5px 17px;
			border: 2px var(--white-border--60) solid;
			border-radius: 8px;

			@include Flex($align: center, $gap: 8px);

			&__icon {
				@include SetSize($set: 18px);
			}

			&__title {
				font-size: 0.875rem;
				font-weight: 500;
				color: var(--main-white);

				@include Flex;
				@include EllipsisOneLine;
			}

			// Disable child element event propagation
			& > * {
				pointer-events: none;
			}

			// Override element state
			&--main {
				order: 1;
			}

			&--active {
				order: 2;

				border-color: var(--success-100);
				background: var(--success-50);
			}
		}
	}

	&__item {
		min-height: 150px;
		overflow: hidden;

		border-radius: 6px;
		background: var(--main-white);
		box-shadow: var(--shadow-card--horizontal);

		@include Flex;

		&__image {
			aspect-ratio: 1 / 1;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@include MinMaxWidth($min: 150px, $max: 150px);
		}

		&__content {
			padding: 10px;

			@include Flex($direction: column, $justify: space-between);

			&__description {
				@include Flex($direction: column, $gap: 4px);

				&__title {
					font-size: 1.125rem;
					font-weight: 700;
					color: var(--main-black);

					@include EllipsisOneLine;
				}

				&__about {
					// Special case
					font-size: 13px;
					font-weight: 600;
					color: var(--neutral-80);

					@include EllipsisMultiLine($line: 3);
				}
			}

			&__container {
				@include Flex($justify: space-between, $align: flex-end);
			}

			&__rating {
				// Special case
				min-height: 16px;
				font-size: 13px;
				font-weight: 600;

				@include Flex($gap: 4px, $align: center);

				&__star {
					@include Flex;
					@include SetSize($set: 17px);
				}

				&__text {
					font-size: inherit;
					font-weight: inherit;
					color: var(--main-black);
				}

				&__refer {
					font-size: inherit;
					font-weight: inherit;
					color: var(--neutral-80);
				}
			}

			&__action {
				@include Flex($gap: 12px);

				&__button {
					@include SetSize($set: 24px);
				}
			}
		}

		// Override element state
		&--hidden {
			display: none;
		}
	}
}
